.icon-footer {
  height: 3.5rem;
}

.footer {
  width: 100vw;
  @extend %flex;
  @extend %flex-center;
  gap: 5rem;
  padding: 1rem 0;
  position: fixed;
  bottom: 0;
  z-index: 999;
  background-color: #fff;
}

