.img-wrapper {
  overflow: hidden;
  width: 100%;
  //height: fit-content;
  border-radius: 1rem;
  position: relative;
}

.float-block {
  background: rgba(#fff, 0.7);
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0.5rem;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s;
}

.icons-block {
  top: -45px;
}

.author-block {
  bottom: -40px;
}

.img-wrapper:hover {
  cursor: zoom-in;

  & .float-block {
    pointer-events: auto;
    opacity: 1;
    cursor: auto;
  }

  & .icons-block {
    top: 0;
  }

  & .author-block {
    bottom: 0;
  }
}


.likesContainer {

  gap: 1rem;
}

.grid {
  display: grid;
  grid-template-rows: repeat(2, auto);
  column-gap: 2rem;
  row-gap: 2rem;
  grid-auto-flow: dense;
  justify-items: center;
}

.error-message {
  font-family: Montserrat, sans-serif;
  text-align: center;
  align-self: center;
  font-size: 3.6rem;
  margin-top: 3rem;
  display: none;

}

.link:link {
  letter-spacing: 1px;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: $color-black;
}

.link:visited {
  color: rgb(66, 22, 39);
}

.visible {
  display: flex;
}
