.header {
  //width: clamp(100vw, 100vw, 128rem);
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: #fff;
  padding: 2rem 0;
  @extend %flex;
  @extend %flex-center;

}

.header .icon {
  border-radius: 50%;
  margin-left: -4rem;
  margin-top: 0.45rem;
}

.search-box {
  width: 30rem;
  height: 4rem;
  border-radius: 100rem;
  @extend %flex-center;
}

.search-input {
  color: #777;
  width: 100%;
  height: 100%;
  border-radius: 100rem;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  padding-right: 5rem;
  font-size: 1.8rem;
  border: 2px solid $color-primary;
}

.search-btn path {
  fill: #777;
}

.search-input:focus {
  border-color: transparent;
  color: $color-primary-dark;

  & ~ label .search-btn path {
    fill: $color-primary-dark;
  }
}

.search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 2rem;
  width: 2rem;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
  transition: all 0.2s;

  &:hover {
    transform: scale(1.15);
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%2316423CFF'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
    cursor: pointer;
  }
}


.search-input::placeholder {
  color: inherit;
  font-size: 1.8rem;
}

.search-box label:hover {
  cursor: pointer;

  .search-btn path {
    fill: $color-primary-dark;
  }
}

