@import "abstracts/placeholders";
@import "abstracts/variables";
@import "abstracts/ulitis";

@import "base/base";
@import "base/typography";

@import "components/header";
@import "components/gallery";
@import "components/footer";
@import "components/popup";

.main {
  margin-top: 8rem;
  margin-bottom: 6rem;
  flex-direction: column;

}
